@model IEnumerable<CurricularizacaoADS2024.Models.Visita>

@{
    ViewData["Title"] = "Visitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Visitas geradas automaticamente</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datavisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.responsavel.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datavisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusFormatado)
            </td>
            
        </tr>
}
    </tbody>
</table>
