@model IEnumerable<CurricularizacaoADS2024.Models.Matricula>

@{
    ViewData["Title"] = "Matriculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Matriculas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nova Matricula</a>
</p>
<table class="table table-info table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curso.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turma.descricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
